


.container{ 
    background-color: rgba(202, 202, 12, 0.637);
    height: 1000px;
    padding: 2px 0px 0px 0px;
}

.container2{
    width: 25%;
    background-color: white;
    color: black;
    margin: 100px auto;
    padding: 0px 0px 0px 20px;
    border-radius: 15px ;
    border: solid 1px black;

}

.emcabezado{
    width: 95%;
    padding: 20px 0px 0px 0px;
    border-radius: 15px ;
}

p{
    width: 90%;
   
}

.estilo1{
    background: yellow;
    width: 15%;
    
}

.footerimagen{
    width: 50px;
    float: left;
    border-radius: 30px ;
}
